.main-container {
    background-color:rgb(1, 37, 27);
}
.main-heading {
    color: rgb(0, 200, 255);
    text-align: center;
}
.heading {
    color: rgb(244, 16, 16);
}
.diseases-container{
    color: rgb(236, 199, 199);
}