.maincontainer {
    position: relative;
    width: 100%;
    background-image: linear-gradient(rgba(131, 131, 131, 0.651), rgba(255, 255, 255, 0.642)), url('eyeimage1.jpg');
    background-size: cover;
    background-position: center;
}
/* $duration: 4s; */
.heading{
    position: relative;
    color: aquamarine;
    font-size: 50px;
    filter: blur(2px)contrast(4);
    padding: 0px;
    margin: 0px;
}